*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
    
}
form{
    margin: 0 auto;
    width: 400px;
    border: solid #339900 2px;
    border-radius: 5px;
}
.formHead{
    font-size: 24px;
    padding-left: 25%;
}
.container{
    margin-left: 30px;
    padding: 15px;
}

select, input{
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 25px;
    display: block;
    width: 280px;
}

select:focus, input:focus{ 
    background-color: #93e769;
    transition: 0.4s;
    
}



#button:hover{
    background-color: #339900;
    transition: 0.3s;
    cursor: pointer;
}